<div class="row">
    <div class="col-12">
        <h2>Add Task</h2>
    </div>
</div>
<form #form = "ngForm" (submit) = "onSubmit(form)">
    <input type="hidden" name="taskId" #taskId="ngModel" [(ngModel)]="service.taskData.taskId" >
    <input type="hidden" name="isDone" value="service.taskData.isDone">
    <input type="hidden" name="TaskCategoryId" value="service.taskData.TaskCategoryId">
    <input type="hidden" name="TaskCategory.CategoryId" value="service.taskData.TaskCategory.CategoryId">
    <input value="service.taskData.TaskCategory.CategoryId" type="hidden" />
    <div class="form-group row">
        <div class="input-group col-12">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <svg [class.green-icon]="taskName.valid" [class.red-icon]="taskName.invalid && taskName.touched" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </div>
            </div>
            <input name="taskName" #taskName="ngModel" [(ngModel)]="service.taskData.taskName" class="form-control" placeholder="Task" required >
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <svg [class.green-icon]="deadline.valid" [class.red-icon]="deadline.invalid && deadline.touched" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-calendar2-day" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zm2.184 8.523v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V8.418h-.672v4.105z"/>
                      </svg>
                </div>
            </div>
          <input name="deadline" #deadline="ngModel" [(ngModel)]="service.taskData.deadline" class="form-control" type="date"  id="example-date-input" required>
        </div>
        </div>
        
        
        <div class="col-6" >
            <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <svg [(ngModel)]="service.taskData.taskCategoryId" [class.green-icon]="taskCategoryId.dirty || service.taskData.taskCategoryId != 0"  width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                        <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                </div>
            </div>
                <select  [class.ng-valid]="taskCategoryId.dirty || service.taskData.taskCategoryId != 0" name="taskCategoryId" #taskCategoryId="ngModel" [(ngModel)]="service.taskData.taskCategoryId" class="custom-select">
                    <option value="0" selected="selected" disabled >Choose category</option>
                    <option *ngFor = "let category of service.categoryList" value="{{category.categoryId}}" >{{ category.categoryName }}</option>
                </select>
            </div>
        </div>
        
            
    </div>
    <div class="form-group row">
        <div class="col-12">
            <button type="submit" id="button-add" class="btn btn-outline-primary btn-block" [disabled]="form.invalid">
                  SUBMIT
                  <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-cloud-plus " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                  </svg>
            </button>
        </div>
    </div>   
</form>
